*{
  padding: 0;
  margin: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
    text-decoration: none;
 
}
@font-face {
  font-family: 'Gilroy';
  src: url('./font/Gilroy-Medium.e7e7c091.woff2') format('truetype');
}

@font-face {
  font-family: 'Gilroy2';
  src: url('./font/Gilroy-SemiBold.f3ed44cd.woff2') format('truetype');
}

@font-face {
  font-family: 'Mazius';
  src: url('./font/Mazius-Extraitalic.121a71a7.woff2') format('truetype');
}




/* Pre-Loader Start */

html,body{
  width: 100%;
  height: 100%;
  /* overflow: hidden; lenis change  */
}

.main{
  width: 100%;
}

.loader{
  width: 100%;
  position: absolute;
   height: 100vh;  
  background-color: #111;
  color: white;
  z-index: 111;
  
    /*   //Change for the animation  */
}

.loader .topheading{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%,0%);
  text-align: center;
  font-size: 1.9vh;
}
.green{
  z-index: 111;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 0vh;
  background-color: #14CF93;

   /*   //Change for the animation  */
}

.loader h1{
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 3vw;
  font-weight: normal;
}
.color{
  font-size: 2.8vw;
  /* font-family: 'Courier New', Courier, monospace; */
  color: #14CF93;
}

.revel{
  overflow: hidden;
  /* background-color: pink; */
}

.color{
  font-family: "Mazius";
}



/* vedant vallal */
.loader h1{
  
  font-size: 8vh;
  width : 100%;
  /* background-color: red; */
  position: relative;
  transform: translate(-50%,-50%);
}

.block{
  margin-left: 55vh;
}
.block span{
  padding-left: 3vh;
}



.topheading .revel{
  opacity: 0;
}

.name {
  opacity: 0;
  display: inline-block; /* Important for transform to apply */
  transform: translateX(100px); /* or whatever direction you want to animate from */
  /* background-color: red; */
  font-size: 15vh;
  
}


/* Pre-Loader End  */








/* HOME START   */



.home{

width: 100%;
height: 100vh;
background-color: #FCFAF8;
position: relative;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 8vw;
  
  /* background-color: #14CF93; */

}
.nav a{
  font-family: "Gilroy";
  font-size: 0.8vw;
  color: #2c2b2b;
  /* text-decoration: underline; */
  text-transform: uppercase;
  position: relative;
  opacity: 0;
}

.line{
  width: 100%;
  height: 2px;
  background-color: rgb(162, 157, 157);
  display: inline;
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.5s ease-in-out;

}


.nav a:hover .line{
  width: 0px;
}



/* NavBar END  */





/* Hero Section Start  */

.row1{
  display: flex;
  width: 97vw;
  /* background-color: rgb(224, 78, 78); */
  height: 27vh;
  margin-top: 15vh;
  overflow: hidden;
  padding-left: 10vh;
}

.row1 h1{
  font-size: 13vw;
  color: #383838;
  opacity: 0;
  
  /* background-color: red; */
  overflow: hidden;
  font-weight: 800;
}

.row1 .text{
  font-size: 1.2vh;
 
  padding: 0vh 12vh;
  text-transform: uppercase;
  color: #8d8c8c;
  text-align: center;
  letter-spacing: 1px;
  line-height: 13px;
  opacity: 0;
}


/* Hero Section  */

.row2{
  display: flex;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  padding-left: 10vh;
  margin-top: 0;
  /* background-color: pink; */
  position: absolute;
  left: 0%;
  top: 47%;
  
  
  
}
.row2 h1{
  /* background-color: rgb(125, 122, 122); */
  font-weight: 700;
  width: 57vw;
  overflow: hidden;
  opacity: 0;
  font-size: 13vw;
  margin-top: 3.9vh;
  color: #383838;
  padding-bottom: 1vh;
  padding-left: 6vh;


}

.web{
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 8vw;
  color: #383838;
  margin-left: 32vh;
}


.web h2{
font-family: 'Mazius';
color: #14CF93;
/* background-color: red; */
padding-left: 1.3vh;

  opacity: 0;
  display: inline-block;
  transform: translateY(20px);


}





/* From Uiverse.io by satyamchaudharydev */ 
.spinner {
 --size-of-spinner: 50px;
 --spinner-border-width: 4px;
 --spinner-color: #ffffff;
 --circle-color: #111111;
 --speed-of-animation: 2s;
 --scale: 1.3;
 width: var(--size-of-spinner);
 height: var(--size-of-spinner);
 background: var(--circle-color);
 border-radius: 50%;
 position: relative;
 margin-top: 70vh;
 margin-left: 95vh;
 opacity: 0;
}

.spinner::after {
 content: "";
 display: block;
 position: absolute;
 border-radius: 50%;
 inset: 0;
 border: var(--spinner-border-width) solid var(--spinner-color);
 border-left-color: transparent;
 border-right-color: transparent;
 animation: spinny var(--speed-of-animation) linear infinite;
}

@keyframes spinny {
 0% {
  transform: rotate(0deg) scale(1)
 }

 50% {
  transform: rotate(45deg) scale(var(--scale))
 }

 100% {
  transform: rotate(360deg) scale(1)
 }
}

/* About Section  */

.about {
  width: 100%;
  height: 100vh;
  background-color: #FCFAF8;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.about img{
  width: 48vh;
  filter: grayscale(100);
  height: 60vh;
  border-radius: 1px;
  margin-left: 10vh;
  transition: all 1s ease-in-out;

}
.about img:hover{
  filter: grayscale(0);
  transform: scale(1.1);
  box-shadow: 0 10px 20px black;
}

.data{
  text-decoration: none;
  align-items: center;
  margin-left: 35vh;
  color: #383838;
  line-height: 24px;
  font-size: 2vh;
}

.txt h1:hover{
    transform: scale(1.1);
    text-shadow:0 10px 15px #111;
  }

  
  .txt h1{
  margin-left: 10vh;
  font-size: 10vh;
  margin-bottom: 5vh;
  transition: all 1s ease-in-out;
}

.color1{
   font-size: 5vw;
  font-family: 'Mazius';
  color: #14CF93;
}
.color2{
  
  color: #383838;
  font-weight: 800;
}

.txt h3{
  background-color: rgb(161, 161, 161);
  height: 1px;
  
}

.txt p{
  transition: all 1s ease-in-out;
  margin-top: 2vh;
}